<h1>Welcome to the SLOW-DRONGO bookstore</h1>

<div class="books">
  <ul style="list-style-type:none">

    <a href="/">Home</a>

    <a class="btn btn-danger" href="/delete/author/{{author.id}}">Delete</a>
    <a class="btn btn-success" href="/update/author/{{author.id}}">Edit</a>

    <h2>{{author.name}}</h2>
    <li>{{author.bio}}</li>
    <li><img src="{{author.img_url}}" width="300px" height="400px" alt="Image" /></li>

    {{#each books}}
    <a href="/book/{{id}}">
      <h3>{{title}}</h3>
      <li><img src="{{img_url}}" width="200px" height="300px" alt="Image" /></li>
    </a>
    {{/each}}

  </ul>
</div>
