<!-- NAVIGATION -->
<div class="container">
  <form role="search" action="/search-books" method="get">
    <div class="form-group form-group-default">
       <div class="col-lg-6 pull-right">
      <input type="text" class="form-control input-default" id="inputdefault" name="search_query" placeholder="author or title or genre" />
    </div>
    <button type="submit" class="btn-zoomshift">
      <span class="glyphicon glyphicon-search" aria-hidden="true" /></span>
    </button>
  </form>
</div>

{{#each books}}
  <a href="/book/{{id}}">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <p>{{title}}</p>
      <img class="img-responsive thumbnail" src="{{img_url}}" width="300px" height="200px" alt="images">
    </div>
  </a>
{{else}}
  <h1>Not Found</h1>
{{/each}}

    <ul class="pagination">
    <li><a href="/?page={{previousPage}}">previous</a></li>
    <li><a href="/?page={{nextPage}}">next</a></li>
  </ul>
